{% extends 'base_back.html.twig' %}

{% block title %}Liste des mission{% endblock %}

{% block body %}
    <a href="{{ path('admin_mission_create') }}">Creation</a>

    {% for mission in missions %}
        {{ mission.name|capitalize }} <br>
        {{ mission.description }} <br>
        {{ mission.startDate|date('d/m/Y') }} <br>
        <a href="{{ path('admin_mission_show', {'slug': mission.slug}) }}">Voir</a>
        <a href="{{ path('admin_mission_delete', {'id': mission.id, 'token': csrf_token('delete' ~ mission.id)}) }}">Supprimer</a>
        <a href="{{ path('admin_mission_sortable', {'id': mission.id, 'position': 'UP'}) }}">UP</a>
        <a href="{{ path('admin_mission_sortable', {'id': mission.id, 'position': 'DOWN'}) }}">DOWN</a>
        <br><br>
    {% else %}
        Aucune mission.
    {% endfor %}
{% endblock %}
